<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bd.thinkinginspring.mapper.UserInfoMapper">

    <resultMap id="BaseResultMap" type="com.bd.thinkinginspring.entity.UserInfoEntity">
        <result column="id"         jdbcType="INTEGER" property="id" />
        <result column="user_name"       jdbcType="VARCHAR" property="userName" />
        <result column="password"        jdbcType="VARCHAR" property="password" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, user_name, password
    </sql>

    <select id="findByName" parameterType="string" resultMap="BaseResultMap">
        select * from user where user_name = #{user_name}
    </select>


</mapper>


