<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bd.thinkinginspring.mapper.UserRoleMapper">

    <resultMap id="BaseResultMap" type="com.bd.thinkinginspring.entity.UserRoleEntity">
        <result column="id"              jdbcType="INTEGER" property="id" />
        <result column="role_id"         jdbcType="INTEGER" property="roleId" />
        <result column="user_id"         jdbcType="INTEGER" property="userId" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, user_id, role_id
    </sql>

    <select id="findById" parameterType="int" resultMap="BaseResultMap">
        select * from user_role where id = #{id}
    </select>

    <select id="findByUserId" parameterType="int" resultMap="BaseResultMap">
        select * from user_role where user_id = #{user_id}
    </select>

    <select id="findByRoleId" parameterType="int" resultMap="BaseResultMap">
        select * from user_role where role_id = #{role_id}
    </select>

    <select id="findRoleList" parameterType="int" resultMap="BaseResultMap">
        select * from user_role where user_id = #{user_id}
    </select>

</mapper>


